<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h6 style="text-align:center"><%= link_to 'Users Only', new_inquiry_path %></h6>
<br />
<h6 style="text-align:center;"> <a href="http://inquirycall.heroku.com/admin/login">AdminUser only!</a> </h6>


